.ipynb_checkpoints
__pycache__
.env

.zip
.tif
.tfw
notebooks/data/S3E105.tfw
notebooks/data/S3E105.tif
*.tif
notebooks/Converted_Raster_104.shp
notebooks/Converted_Raster_104.dbf
notebooks/Converted_Raster_104.shx
notebooks/data/classified_result.tif.ovr
*.shp
*.dbf
*.prj
*.cpg
*.ovr
*.lock
notebooks/data/results.json
notebooks/data/turf_results.json
notebooks/data/turf_polygons.json
notebooks/data/turf_polygons.json
notebooks/data/turf_polygons.json
