.ipynb_checkpoints
__pycache__
.env

.zip
.tif
.tfw
notebooks/data/S3E105.tfw
notebooks/data/S3E105.tif
*.tif
notebooks/Converted_Raster_104.shp
notebooks/Converted_Raster_104.dbf
notebooks/Converted_Raster_104.shx
notebooks/data/classified_result.tif.ovr
*.shp
*.dbf
*.prj
*.cpg
*.ovr
*.lock
notebooks/data/results.json
notebooks/data/turf_results.json
notebooks/data/turf_polygons.json
notebooks/data/turf_polygons.json
notebooks/data/turf_polygons.json
notebooks/data/CASTLE_PINES_METRO.sbn
notebooks/data/CASTLE_PINES_METRO.sbx
notebooks/data/CASTLE_PINES_METRO.shx
notebooks/data/data.csv
notebooks/data/data_01_23_21_TO_02_22_21.csv
notebooks/data/data_01_23_21_TO_02_22_21.json
notebooks/data/data_02_23_21_TO_03_26_21.csv
notebooks/data/data_02_23_21_TO_03_26_21.json
notebooks/data/data_09_23_20_TO_10_22_20.csv
notebooks/data/data_09_23_20_TO_10_22_20.json
notebooks/data/data_10_23_20_TO_11_22_20.csv
notebooks/data/data_10_23_20_TO_11_22_20.json
notebooks/data/data_11_23_20_TO_12_22_20.csv
notebooks/data/data_11_23_20_TO_12_22_20.json
notebooks/data/data_12_23_20_TO_01_22_21.csv
notebooks/data/data_12_23_20_TO_01_22_21.json
notebooks/data/Lexington_Arrests.json
notebooks/data/Lexington_Arrests_per_heloc.json
notebooks/data/red_line_lexington.geojson
notebooks/data/S2E194_clip.tfw
notebooks/data/S2E194_clip.tif.aux.xml
notebooks/data/S2E194_clip.tif.xml
notebooks/data/S2E195_clip.tfw
notebooks/data/S2E195_clip.tif.aux.xml
notebooks/data/S2E195_clip.tif.xml
notebooks/data/S3E106_clip.tfw
notebooks/data/S3E106_clip.tif.aux.xml
notebooks/data/S3E106_clip.tif.xml
notebooks/data/S3E114_clip.tfw
notebooks/data/S3E114_clip.tif.aux.xml
notebooks/data/S3E114_clip.tif.xml
notebooks/data/S3E115_clip.tfw
notebooks/data/S3E115_clip.tif.aux.xml
notebooks/data/S3E115_clip.tif.xml
notebooks/data/S3E116_clip.tfw
notebooks/data/S3E116_clip.tif.aux.xml
notebooks/data/S3E116_clip.tif.xml
notebooks/data/segments_104.tif.aux.xml
notebooks/data/shapefile/104_poly_final.sbn
notebooks/data/shapefile/104_poly_final.sbx
notebooks/data/shapefile/104_poly_final.shx
notebooks/data/shapefile/115_poly_final.sbn
notebooks/data/shapefile/115_poly_final.sbx
notebooks/data/turf_polygons.json
